name: Sync Wiki

on:
  push:
    branches: [master]
    paths:
      - 'docs/wiki/**'

permissions:
  contents: write

jobs:
  sync-wiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: 'docs/wiki/'
          strategy: clone
